In [90]:
import sqlite3
import tkinter as tk

import pandas as pd

import sys

sys.path.insert(0, "../")
import utils
from db import HindsightDB
from timeline_view import TimelineViewer

In [66]:
db = HindsightDB()

In [76]:
search_results = db.search(text="nvidia", n_seconds=500)
# search_results = db.search(text="Nvidia")

In [86]:
frames = db.get_frames()

In [107]:
min(frames['datetime_local'])

Timestamp('2024-05-14 15:10:51.138999939-0400', tz='America/New_York')

In [87]:
frames = utils.add_datetimes(frames)

In [95]:
test_data = pd.read_csv('./data/nvidia_stock_during.csv')

In [96]:
test_data = utils.add_datetimes(test_data)

In [98]:
test_data.loc[(test_data['Open'] >= 124) & (test_data['Open'] <= 124.1)]

,Open,High,Low,Close,Adj Close,Volume,datetime,timestamp,datetime_utc,datetime_local
105,124.091003,125.586998,118.400002,121.089005,121.089005,28192095,2024-06-06 09:30:00-04:00,1717680600000,2024-06-06 13:30:00+00:00,2024-06-06 09:30:00-04:00
191,124.095001,125.589996,123.910004,124.570000,124.570000,51742634,2024-06-25 11:30:00-04:00,1719329400000,2024-06-25 15:30:00+00:00,2024-06-25 11:30:00-04:00
203,124.000000,126.404999,123.750000,124.555000,124.555000,72053266,2024-06-27 09:30:00-04:00,1719495000000,2024-06-27 13:30:00+00:00,2024-06-27 09:30:00-04:00
214,124.089996,124.589996,123.770103,123.963997,123.963997,20565057,2024-06-28 13:30:00-04:00,1719595800000,2024-06-28 17:30:00+00:00,2024-06-28 13:30:00-04:00
219,124.095001,124.839996,122.820000,124.309998,124.309998,34102624,2024-07-01 11:30:00-04:00,1719847800000,2024-07-01 15:30:00+00:00,2024-07-01 11:30:00-04:00
222,124.010002,124.709999,123.800003,124.291100,124.291100,19875552,2024-07-01 14:30:00-04:00,1719858600000,2024-07-01 18:30:00+00:00,2024-07-01 14:30:00-04:00
320,124.029999,124.139999,123.110001,123.220901,123.220901,18814566,2024-07-23 11:30:00-04:00,1721748600000,2024-07-23 15:30:00+00:00,2024-07-23 11:30:00-04:00

In [99]:
test_data.iloc[103:108]

,Open,High,Low,Close,Adj Close,Volume,datetime,timestamp,datetime_utc,datetime_local
103,121.559998,122.358994,121.422997,121.826988,121.826988,6296734,2024-06-05 14:30:00-04:00,1717612200000,2024-06-05 18:30:00+00:00,2024-06-05 14:30:00-04:00
104,121.811279,122.449501,121.605003,122.439003,122.439003,4728006,2024-06-05 15:30:00-04:00,1717615800000,2024-06-05 19:30:00+00:00,2024-06-05 15:30:00-04:00
105,124.091003,125.586998,118.400002,121.089005,121.089005,28192095,2024-06-06 09:30:00-04:00,1717680600000,2024-06-06 13:30:00+00:00,2024-06-06 09:30:00-04:00
106,121.173805,122.382996,120.045998,120.462479,120.462479,8848457,2024-06-06 10:30:00-04:00,1717684200000,2024-06-06 14:30:00+00:00,2024-06-06 10:30:00-04:00
107,120.402000,120.869995,119.337524,119.727005,119.727005,5825782,2024-06-06 11:30:00-04:00,1717687800000,2024-06-06 15:30:00+00:00,2024-06-06 11:30:00-04:00

In [106]:
max(test_data['Open'])

139.85000610351562

In [104]:
test_data.loc[test_data['High'] == 140.75999450683594]

,Open,High,Low,Close,Adj Close,Volume,datetime,timestamp,datetime_utc,datetime_local
168,139.850006,140.759995,136.130005,138.151596,138.151596,146856803,2024-06-20 09:30:00-04:00,1718890200000,2024-06-20 13:30:00+00:00,2024-06-20 09:30:00-04:00

In [91]:
stock_data = pd.read_csv('./data/nvidia_stock.csv')
stock_data['timestamp'] = pd.to_datetime(stock_data['timestamp'])

In [ ]:
current_dt = frames['datetime_local'].iloc[0]

In [94]:
stock_data.loc[stock_data['timestamp'].dt.minute >= current_dt.minue()]

AttributeError: 'Timestamp' object has no attribute 'minue'

In [88]:
current_dt = frames['datetime_local'].iloc[0]

In [77]:
nvidia_df = db.get_frames(frame_ids=set(search_results['id']))
nvidia_df = nvidia_df.loc[nvidia_df['path'].str[:6] != "./data"]
nvidia_df = utils.add_datetimes(nvidia_df).reset_index(drop=True)

In [78]:
min(nvidia_df['datetime_local'])

Timestamp('2024-05-16 20:02:21.362999916-0400', tz='America/New_York')

In [49]:
min(nvidia_df['timestamp'])

1715904133164

In [47]:
min(nvidia_df['timestamp'])

1716215914835